body{
    font-family: 'Open Sans', sans-serif;
}   
    
    nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.primary{
   color: #FD6E0A;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
}
.me{
    background-color: #FD6E0A;
    font-size: 20px;
     font-style: normal;
     border-radius: 5px;
     color: white;
     padding: 15px 35px;
}